# =========================
# Visual Studio
# =========================
.vs/
.vscode/

# =========================
# Build outputs
# =========================
bin/
obj/
out/

# =========================
# .NET Core / ASP.NET
# =========================
*.dll
*.exe
*.pdb

